.page-company {
	background-image: url('/static/images/bg_company.jpg');

	&:before {
		@include breakpoint(small only) {
			position: fixed;
			background-image: inherit;
			background-position: center;
			background-size: cover;
			opacity: 1;
		}
	}

	&__heading {
		@include font-accent;
		@include header-decorate;

		@include breakpoint( medium ) {
			margin-bottom: 2em;
		}
	}

	&__section {
		@include container( wide );

		&--team {
			width: 100vw;
			max-width: none;
			margin: 0;
		}

		.overview__content {
			@include font-overview( small );
		}
	}

	&__section--deep-dive {
		position: relative;

		@include breakpoint( small only ) {
			margin-top: 4rem;
		}

		.scroller__transition--exit {
			display: none;
		}


	}

	&__deep-wrapper {
		@include container;
		@include breakpoint( small only ) {
			margin-left: 0;
		}
		@include breakpoint( medium ) {
			max-width: rem( 700 );
			margin-right: auto;
			margin-left: auto;
		}
	}

	&__deep-content {
		@include font-overview;

		@include breakpoint( small only ) {
			margin-bottom: 2rem;
		}
	}

	&__deep-heading {
		@include font-accent;
		@include header-decorate;

		@include breakpoint( medium ) {
			margin-bottom: 2em;
		}

		&:before {
			display: none;
		}
	}

	&__dot-nav {
		position: relative;

		@include breakpoint( small down ) {
			margin-top: 3rem;
			margin-bottom: 4rem;
			margin-left: $frame-padding-mobile;

			.dot-nav__item {
				display: inline-block;
				margin: 0 0.5rem;

				&:first-child {
					margin-left: 0;
				}
			}

			&--deep-dive {
				margin-right: auto;
				margin-left: auto;
			}
		}

		@include breakpoint( medium ) {
			position: fixed;
			top: 50%;
			right: $frame-padding;
			transform: translate( $frame-padding * 2, -50% );
			transition: transform 500ms ease-in-out;

			&--appear,
			&--enter,
			&--enter-active {
				transform: translate( $frame-padding * 2, -50% );
			}

			&--closed,
			&--enter-done {
				transform: translateY( -50% );
			}

			&--exit,
			&--exit-done,
			&--active {
				transform: translate( $frame-padding * 2, -50% );
			}
		}
	}
}
