.page-contact {
	$self: &;

	&__wrapper {
		@include breakpoint( medium ) {
			@include container( wide );
			display: grid;
			width: 100%;
			grid-template-columns: minmax( auto, 365px ) 445px;
			gap: 90px;
		}

		@include breakpoint( large ) {
			@include container( wide );
			grid-template-columns: minmax( auto, 365px ) 395px;
		}

		@include breakpoint( small down ) {
			margin-bottom: 4rem;
			padding: $frame-padding-mobile;
			padding-bottom: 0;
		}
	}

	&__background {
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		transition: opacity 700ms ease-in-out, filter 1000ms ease-in-out;
		background: rgba( yellow, 0.5 );
		background-color: $color-black;
		background-position: center;
		background-size: cover;
		color: #fff;
		opacity: 0;
		overflow: hidden;
		background-blend-mode: luminosity;
		filter: blur( 20px );

		&:before {
			position: absolute;
			width: 100%;
			height: 100%;
			background-color: inherit;
			content: '';
			opacity: 0.9;
		}

		&--chicago {
			background-image: url( /static/images/bg_contact_chicago.jpg );
		}

		&--new-york {
			background-image: url( /static/images/bg_contact_new_york.jpg );
		}

		&--appear {
			opacity: 0;
			filter: blur( 20px );
		}

		&--enter {
			opacity: 0;
			filter: blur( 20px );
		}

		&--enter-active {
			opacity: 1;
			filter: blur( 0 );
		}

		&--exit {
			opacity: 1;
			filter: blur( 0 );
		}

		&--exit-active {
			opacity: 0;
			filter: blur( 20px );
		}

		&--enter-done {
			opacity: 1;
			filter: blur( 0 );
		}
	}

	&__heading {
		@include font-accent;
		margin-bottom: rem( 50 );

		&--main {
			@include header-decorate( false );
		}
	}

	&__location-list {
		display: grid;
		margin: 0;
		padding: 0;
		list-style: none;
		grid-template-columns: 1fr;
		gap: rem( 20 );
		counter-reset: omg;

		@include breakpoint( large ) {
			grid-template-columns: 1fr 1fr;
			gap: rem( 46 );
		}
	}

	&__location {
		position: relative;
		cursor: pointer;

		&:before {
			display: block;
			width: 100%;
			margin-bottom: 1rem;
			transition: 0.75s all;
			border-bottom: 1px solid currentColor;
			color: $color-gray;
			font-family: $font-oswald;
			font-size: rem( 18 );
			font-weight: 100;
			content: counter( omg, decimal-leading-zero );
			counter-increment: omg;
		}

		&:hover:before,
		&:focus:before,
		&--active:before {
			color: $color-red;
		}
	}

	&__contact-name {
		margin-bottom: 0;
	}

	&__contact-info {
		margin-bottom: rem( 48 );
		@include breakpoint( medium ) {
			margin-bottom: rem( 34 );
		}
	}

	&__contact-email {
		color: $color-gray;
		text-decoration: none;

		&:hover,
		&:focus {
			color: $color-red;
		}
	}

	&__location-wrapper {
		overflow: hidden;

		@include breakpoint( small only ) {
			margin-bottom: rem( 50 );
		}
	}

	&__location-details {
		transform: translateY( 0 );
		transition: 0.375s all ease-in-out;
		color: $color-gray;
		opacity: 0;

		#{ $self }__location-wrapper--appear &,
		#{ $self }__location-wrapper--enter &,
		#{ $self }__location-wrapper--exit-active &,
		#{ $self }__location-wrapper--exit & {
			transform: translateY( -100% );
			opacity: 0;
		}

		#{ $self }__location-wrapper--enter-done &,
		#{ $self }__location-wrapper--enter-active & {
			transform: translateY( 0 );
			opacity: 1;
		}
	}

	&__location-title {
		color: $color-gray;

		#{ $self }__location--active & {
			color: #fff;
		}
	}

	.footer-mobile {
		margin-top: 2rem;
	}

	.footer-inner__right {
		@include breakpoint( small only ) {
			margin: 0 auto;
		}
	}

	.social-nav__item {
		@include breakpoint( small only ) {
			width: rem( 30 );
			height: rem( 30 );
			margin: 0 rem( 10 );
		}
	}
}
