.page-error {
	&__content {
		display: grid;
		align-items: center;
		width: calc( 100% - #{$frame-padding} );
		margin: 0 auto;
		grid-template-columns: minmax( 80px, 30% ) minmax( 300px, 70% );
		gap: 20px;
	}

	&__code {
		color: $color-red;
		font-family: $font-nunito;
		font-size: 2rem;
		font-weight: 700;
	}
}
