.homepage {
	background-image: url( '/static/images/bg_home.jpg' );

	&:before {
		@include breakpoint( small only ) {
			position: fixed;
			background-image: inherit;
			background-position: center;
			background-size: cover;
			opacity: 1;
		}
	}

	&__heading {
		@include font-accent;
		@include header-decorate;

		@include breakpoint( medium ) {
			margin-bottom: 2em;
		}
	}

	&__content {
		@include font-overview;
	}

	&__section {
		@include container;
	}

	&__dot-nav {
		position: relative;

		@include breakpoint( small only ) {
			margin-top: rem( 40 );
		}

		@include breakpoint( small only ) {
			margin-left: $frame-padding-mobile;

			&__item {
				display: inline-block;
				margin: 0 0.5rem;
			}
		}

		@include breakpoint( medium ) {
			position: fixed;
			top: 50%;
			right: $frame-padding;
			transform: translate( $frame-padding * 2, -50% );
			transition: 0.75s transform ease-in;

			&--appear,
			&--enter,
			&--enter-active {
				transform: translate( $frame-padding * 2, -50% );
			}

			&--closed,
			&--enter-done {
				transform: translateY( -50% );
			}

			&--exit,
			&--exit-done,
			&--active {
				transform: translate( $frame-padding * 2, -50% );
			}
		}
	}

	.footer__anchor {
		@include breakpoint( small only ) {
			display: none;
		}
	}

	.full-screen-frame {
		@include breakpoint( small only ) {
			margin-top: 20vh;
		}
	}
}
