.page-media {
	background-image: url( '/static/images/bg_media.jpg' );

	&:before {
		@include breakpoint( small only ) {
			position: fixed;
			background-image: inherit;
			background-position: center;
			background-size: cover;
			opacity: 1;
		}
	}

	&__heading {
		@include font-accent;
		@include header-decorate;

		@include breakpoint( medium ) {
			margin-bottom: 2em;
		}
	}

	&__section {
		@include container( wide );

		&--articles {
			@include container( xwide );
		}

		.overview__content {
			@include font-overview( small );
		}
	}
}
