.page-platform {
	background-image: url( '/static/images/bg_platform.jpg' );

	&:before {
		@include breakpoint( small only ) {
			position: fixed;
			background-image: inherit;
			background-position: center;
			background-size: cover;
			opacity: 1;
		}
	}

	&__heading {
		@include font-accent;
		@include header-decorate;

		@include breakpoint( medium ) {
			margin-bottom: 2em;
		}
	}

	&__section {
		@include container( wide );

		&--product {
			@include container( xxwide );
		}

		.overview__content {
			@include font-overview( small );
		}
	}

	.footer__link-arrow {
		position: absolute;
		top: 50%;
		right: $frame-padding-mobile;
		width: rem( 32 );
		height: rem( 16 );
		transform: translateY( -50% );
		transform-origin: center;
		background-image: url( '/static/images/scroll-right-red.svg' );
		background-repeat: no-repeat;
		background-position: center;
		background-size: contain;
		fill: $color-red;

		@include breakpoint( medium ) {
			display: none;
		}
	}

	@include breakpoint( small only ) {
		.footer {
			&__anchor {
				width: 100%;
				max-width: none;
				text-align: left;
			}

			&__link {
				position: relative;
			}

			&__link--anchor {
				display: block;
				width: 100%;
				padding: $frame-padding-mobile;
				border: 0;
				color: #fff;
			}
		}

		.footer-inner {
			position: fixed;
			bottom: 0;
			left: 0;
			flex-direction: column;
			width: 100%;
			padding: 0;
			background: #101216;

			&__left {
				@include breakpoint( small only ) {
					display: none;
				}
			}
		}

		.layout__inner {
			padding-bottom: rem( 74 );
		}
	}


}
