.page-post {
	background: linear-gradient(
		244deg,
		darken( $color-black, 10% ),
		$color-black-light
	);
	background-size: 400% 400%;
	animation: gradient-fade 18s ease infinite;

	&__post-wrapper {
		display: flex;
		align-items: center;
		justify-content: center;
		width: 100%;
		@include breakpoint( small only ) {
			position: relative;
		}
	}

	&__post {
		@include container( wide );
		@include breakpoint( medium ) {
			max-height: 70vh;
			padding-right: rem( 50 );
			overflow-y: scroll;
		}
	}

	&__header {
		margin-bottom: 2rem;
	}

	&__meta {
		@include font-accent;
		color: $color-red;
	}

	&__title {
		font-family: $font-muli;
		font-weight: 100;
	}

	&__content {
		color: $color-gray;
		font-weight: 100;
		line-height: 1.7;

		@include breakpoint( medium ) {
			font-size: rem( 18 );
		}

		b,
		strong {
			font-weight: 600;
		}

		@include breakpoint( small only ) {
			margin-bottom: 4rem;

			> *:last-child {
				margin-bottom: 0;
				padding-bottom: 0;
			}
		}
	}

	.footer__anchor {
		@include breakpoint( small only ) {
			max-width: none;
		}
	}

	.footer__link-arrow {
		position: absolute;
		top: 50%;
		right: $frame-padding-mobile;
		width: rem( 32 );
		height: rem( 16 );
		transform: translateY( -50% );
		transform-origin: center;
		background-image: url( '/static/images/scroll-left-red.svg' );
		background-repeat: no-repeat;
		background-position: center;
		background-size: contain;
		fill: $color-red;

		@include breakpoint( medium ) {
			display: none;
		}
	}

	@include breakpoint( small only ) {
		.footer {
			&__anchor {
				width: 100%;
				max-width: none;
				text-align: left;
			}

			&__link {
				position: relative;
			}

			&__link--anchor {
				display: block;
				width: 100%;
				padding: $frame-padding-mobile;
				border: 0;
				color: #fff;
			}
		}

		.footer-inner {
			position: fixed;
			bottom: 0;
			left: 0;
			flex-direction: column;
			width: 100%;
			padding: 0;
			background: #101216;

			&__right {
				@include breakpoint( small only ) {
					display: none;
				}
			}
		}

		.layout__inner {
			padding-bottom: rem( 74 );
		}
	}

	.disclosures-nav {
		$self: &;

		&__button {

			#{$self}--active & {
				font-weight: 700;
				text-shadow: 0 1px 2px rgba( darken( $color-black, 10% ), 0.75 );
			}
		}

		&__menu-wrapper {

			#{$self}--active & {
				box-shadow: 0 rem( -50 ) rem( 200 ) rgba( darken( $color-black, 10% ), 0.95 );
			}
		}
	}

}
