.page-request-demo {
	$self: &;
	// background-image: url('/static/images/bg_demo.jpg');

	&__wrapper {
		@include breakpoint( small only ) {
			margin-top: 10vh;
		}

		@include breakpoint( medium ) {
			@include container( wide );
			max-width: rem( 620 );
		}

		@include breakpoint( large ) {
			@include container( wide );
			max-width: rem( 620 );
		}
	}

	&__heading {
		@include font-accent;
		@include header-decorate( false );

		@include breakpoint( medium ) {
			margin-bottom: rem( 50 );
		}
	}

	&__section {
		margin-right: 1.25rem;
		margin-left: 1.25rem;
		@include breakpoint( medium ) {
			margin-right: 2.5rem;
			margin-left: 2.5rem;
		}
	}

	.footer__link-arrow {
		position: absolute;
		top: 50%;
		right: $frame-padding-mobile;
		width: rem( 32 );
		height: rem( 16 );
		transform: translateY( -50% );
		transform-origin: center;
		background-image: url( '/static/images/scroll-left-red.svg' );
		background-repeat: no-repeat;
		background-position: center;
		background-size: contain;
		fill: $color-red;

		@include breakpoint( medium ) {
			display: none;
		}
	}

	@include breakpoint( small only ) {
		.footer {
			&__anchor {
				width: 100%;
				max-width: none;
				text-align: left;
			}

			&__link {
				position: relative;
			}

			&__link--anchor {
				display: block;
				width: 100%;
				padding: $frame-padding-mobile;
				border: 0;
				color: #fff;
			}
		}

		.footer-inner {
			position: fixed;
			bottom: 0;
			left: 0;
			flex-direction: column;
			width: 100%;
			padding: 0;
			background: #101216;

			&__left {
				@include breakpoint( small only ) {
					display: none;
				}
			}
		}

		.layout__inner {
			padding-bottom: rem( 74 );
		}
	}
}
