@keyframes gradient-fade {
	0% {
		background-position: 0% 78%;
	}

	50% {
		background-position: 100% 23%;
	}

	100% {
		background-position: 0% 78%;
	}
}

@keyframes fade-in {
	0% {
		opacity: 0;
	}

	100% {
		opacity: 1;
	}
}
