@import "../util/breakpoints";

/// Clearfix.
@mixin clearfix {
	&:before,
	&:after {
		display: table;
		content: " ";
	}

	&:after {
		clear: both;
	}
}

@mixin bracket-wrap {
	&:before,
	&:after {
		content: "";
		background-image: url( "#{ $images-path }/logos/logo-mark-color.svg" );
		background-size: 0.79em;
		background-repeat: no-repeat;
		height: 0.625em;
		width: 0.4em;
		display: inline-block;
	}

	&:before {
		background-position: left bottom;
		margin-right: 0.125em;
	}

	&:after {
		background-position: right bottom;
		margin-left: 0.125em;
	}
}

/*
 * Typography
 */
@mixin font-heading {
	font-family: $font-family-heading;
	font-weight: 700;
	font-style: italic;
	// text-transform: uppercase;
	line-height: $heading-line-height;

	em,
	i,
	strong,
	b {
		/*
		font-weight: 700;
		font-style: italic;
		color: $color-primary;
		text-transform: inherit;
		*/
		font-weight: inherit;
		font-style: inherit;
		color: inherit;
		text-transform: inherit;
		white-space: nowrap;

		@include bracket-wrap;
	}
}

@mixin font-body {
	font-family: $font-family-body;
	font-weight: 200;
	text-transform: none;
	letter-spacing: 0;

	strong,
	b {
		font-weight: 700;
	}
}

@mixin font-accent {
	font-family: $font-nunito;
	font-size: rem( 11 );
	font-weight: 100;
	letter-spacing: 0.25em;
	text-transform: uppercase;
	@include breakpoint( medium ) {
		font-size: rem( 14 );
	}
}

@mixin font-overview( $sz: normal ) {
	$fs-med: if( $sz == small, 22, 28 );
	$fs-lg: if( $sz == small, 28, 36 );
	font-family: $font-muli;
	font-size: rem( 20 );
	font-weight: 100;
	@include breakpoint( medium ) {
		font-size: rem( $fs-med );
	}
	@include breakpoint( large ) {
		font-size: rem( $fs-lg );
	}
}

@mixin container( $size: normal ) {
	$w: 740;
	@if $size == wide {
		$w: 900;
	} @else if $size == xwide {
		$w: 1060;
	} @else if $size == xxwide {
		$w: 1266;
	}
	width: calc( 100vw - #{ rem( $frame-padding-mobile * 2 ) } );
	max-width: rem( $w );
	margin-right: rem( $frame-padding-mobile );
	margin-left: rem( $frame-padding-mobile );

	@include breakpoint( medium ) {
		margin-right: rem( $frame-padding );
		margin-left: rem( $frame-padding );
	}
}

@mixin header-decorate( $animate: true ) {
	position: relative;
	@if ( $animate == true ) {
		transform: translateX( -100% );
		transition: transform 1500ms ease-in-out, opacity 1200ms ease-in-out, filter 1800ms ease-in-out;
		opacity: 0;
		filter: blur( 10px );
	}

	&:before {
		display: block;
		position: absolute;
		top: 50%;
		width: 50vw;
		margin-right: $frame-padding-mobile;
		transition: transform 2500ms cubic-bezier( 0.03, 0.56, 0.09, 0.97 );
		background: $color-red;
		content: "";
		@if ( $animate == true ) {
			transform: translateX( -150% );
			opacity: 0;
		}
	}

	&:before {
		right: 100%;
		height: 1px;
	}

	@if ( $animate == true ) {

		&--appear {
			transform: translateX( -150% );
			opacity: 0;
			filter: blur( 10px );
		}

		&--enter {
			transform: translateX( -150% );
			opacity: 0;
			filter: blur( 10px );
		}

		&--enter-active {
			transform: translateX( 0 );
			opacity: 1;
			filter: blur( 0 );
		}

		&--exit {
			transform: translateX( 0 );
			opacity: 1;
			filter: blur( 0 );
		}

		&--exit-active {
			position: fixed;
			transform: translateX( -150% );
			opacity: 0;
			filter: blur( 10px );
		}

		&--enter-done {
			transform: translateX( 0 );
			opacity: 1;
			filter: blur( 0 );

			&:before,
			&:after {
				transform: translateX( 0 );
				opacity: 1;
			}
		}
	}
}

// 54px (desktop)
@mixin text-xxl {
	font-size: rem( 26 );

	@include breakpoint( medium ) {
		font-size:  rem( 54 );
	}
}

// 32px (desktop)
@mixin text-xl {
	font-size: rem( 20 );

	@include breakpoint( medium ) {
		font-size: rem( 32 );
	}
}

// 24 (desktop)
@mixin text-lg {
	font-size: rem( 17 );

	@include breakpoint( medium ) {
		font-size: rem( 24 );
	}
}

@mixin text-std {
	font-size: rem( 16 );
	line-height: $base-line-height-sm;

	@include breakpoint( medium ) {
		font-size: rem( 18 );
		line-height: $base-line-height;
	}
}

@mixin text-sm {
	font-size: rem( 14 );
}

@mixin text-xs {
	font-size: rem( 11 );
}

@mixin text-smoothing {
	-webkit-font-smoothing: antialiased; // sass-lint:disable-line no-vendor-prefixes
	-moz-osx-font-smoothing: grayscale; // sass-lint:disable-line no-vendor-prefixes
}

@mixin text-link {
	border-bottom: 1px solid transparent;
	color: $color-link;
	text-decoration: none;
	transition: color .2s ease-in, background .2s ease-in, border-width .2s ease-in;

	&:link,
	&:visited {
		color: $color-link;
		text-decoration: none;
	}

	&:hover,
	&:focus {
		color: $color-link-hover;
		transition: color .2s ease-out, background .2s ease-out, border-width .2s ease-out;
		border-bottom: 1px solid $color-link;
	}
}

@mixin text-link-reverse {
	@include text-link;

	color: $white;
	border-color: rgba( $white, 0.8 );

	&:link,
	&:visited,
	&:hover,
	&:focus {
		color: $white;
	}

	&:hover,
	&:focus {
		border-color: $white;
	}

}

@mixin text-unlink {
	color: inherit;

	&:link,
	&:hover,
	&:focus,
	&:visited {
		border-bottom: none;
		text-decoration: none;
	}

}
