@import '../util/rem';

$color-black: #1e2028;
$color-black-light: #252831;
$color-gray: #92969e;
$color-red: #ee2e24;

$font-nunito: 'Nunito Sans', -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Helvetica Neue', sans-serif;
$font-oswald: 'Oswald', -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Helvetica Neue', sans-serif;
$font-muli: 'Muli', -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Helvetica Neue', sans-serif;
$font-mono: 'Consolas', 'Monaco', 'Andale Mono', 'Ubuntu Mono', monospace !default;

$font-weight-light-muli: 200 !default;
$font-weight-regular-muli: 300 !default;

// Media query breakpoints.
$breakpoints: (
	small: 0,
	medium: 640px,
	large: 1024px,
	xlarge: 1200px,
	xxlarge: 1440px,
	xxxlarge: 1800px,
) !default;

// Image Path.
$images-path: './static/images' !default;

$frame-padding: rem( 40 );
$frame-padding-mobile: rem( 30 );

$global-transition: cubic-bezier( 0.19, 1, 0.22, 1 );
