.crumbs {
	display: none;
	align-items: center;

	@include breakpoint( medium ) {
		display: flex;
	}

	&__labels {
		margin-left: rem( 16 );
		color: $color-gray;
		font-family: $font-nunito;
		font-size: rem( 12 );
		letter-spacing: 2px;
		text-transform: uppercase;

		@include breakpoint( medium only ) {
			display: none;
		}
	}

	&__sep {
		display: inline-block;
		margin: 0 1em;
		transform: scaleY( 1.5 );
		transform-origin: center;
		color: #fff;
		opacity: 0.5;
	}

	&__active {
		transition: all 500ms ease-in-out;
		color: #fff;

		&--enter {
			transform: translateX( 100% );
			opacity: 0;
			filter: blur( 10px );
		}

		&--enter-active {
			transform: translateX( 0% );
			opacity: 1;
			filter: blur( 0 );
		}

		&--leave {
			transform: translateX( 0% );
			opacity: 1;
			filter: blur( 0 );
		}

		&--leave-active {
			display: none;
		}
	}
}
