.deep-dive {
	position: relative;

	&__side-nav {
		&--appear {
			li {
				// transform: translateX( 0 );
			}
		}

		&--active-appear {
			li {
				transform: translateX( 250% );
			}
		}

		&--enter {
			li {
				transform: translateX( 250% );
			}
		}

		&--enter-active {
			li {
				transform: translateX( 0 );
			}
		}

		&--leave {
			li {
				transform: translateX( 0 );
			}
		}

		&--leave-active {
			li {
				transform: translateX( 250% );
			}
		}

		&--done-enter {
			li {
				transform: translateX( 0 );
			}
		}
	}

	&__section {
		h2 {
			@include breakpoint( medium ) {
				font-size: rem( 40 );
			}
		}

		p {
			color: $color-gray;
			@include breakpoint( medium ) {
				font-size: rem( 20 );
			}
		}

		@include breakpoint( medium ) {
			transition: opacity 1100ms ease-in-out, filter 1200ms ease-in-out;
			opacity: 0;
			&--appear {
				opacity: 0;
				filter: blur( 20px );
			}

			&--enter {
				opacity: 0;
				filter: blur( 20px );
			}

			&--enter-active {
				opacity: 1;
				filter: blur( 0 );
			}

			&--leave {
				position: absolute;
				opacity: 1;
				filter: blur( 0 );
			}

			&--leave-active {
				display: none;
			}

			&--done-enter {
				opacity: 1;
				filter: blur( 0 );
			}
		}
	}
}
