.disclosures-nav {
	$self: &;
	display: none;
	position: fixed;
	z-index: 6;

	@include breakpoint( medium ) {
		display: block;
	}

	&__button {
		position: fixed;
		bottom: $frame-padding;
		left: 50%;
		transform: translate( -50%, $frame-padding * 2 );
		transition: all 500ms ease-in-out;
		border: 0;
		background: 0;
		color: $color-gray;
		font-size: rem( 12 );
		letter-spacing: 2px;
		text-transform: uppercase;
		cursor: pointer;
		z-index: 1;

		#{$self}--active & {
			color: #fff;
		}

		&:after,
		&:before {
			display: block;
			position: absolute;
			top: 2rem;
			right: 50%;
			width: 1px;
			height: rem( 100 );
			transform: translateX( -50% );
			transition: inherit;
			background: #3e4149;
			content: '';
		}

		#{$self}--closed &,
		#{$self}--enter-done & {
			transform: translateX( -50% );
		}

		#{$self}--appear &,
		#{$self}--enter &,
		#{$self}--enter-active &,
		#{$self}--loaded#{$self}--enter-active & {
			transform: translate( -50%, $frame-padding * 2 );
		}


		#{$self}--exit &,
		#{$self}--exit-done &,
		#{$self}--active & {
			transform: translate( -50%, $frame-padding * 2 );
		}

		#{$self}--active & {
			transform: translate( -50%, rem( -116 ) );

			&:before,
			&:after {
				top: rem( 24 );
				height: rem( 30 );
				background: #767c88;
			}

			&:before {
				transform: rotate( -45deg ) translate( -50% );
			}

			&:after {
				transform: rotate( 45deg ) translate( -50% );
			}
		}
	}

	&__text-wrapper {
		display: flex;
		align-items: center;
		justify-content: center;
		color: $color-gray;
	}

	&__menu-wrapper {
		display: flex;
		position: fixed;
		bottom: 0;
		left: 0;
		align-items: center;
		justify-content: center;
		width: 100vw;
		height: rem( 116 );
		transform: translateY( calc( 100% + #{rem( 40 )} ) );
		transition: all 500ms ease-in-out;
		background: #101216;
		background-size: 400% 400%;
		pointer-events: none;

		#{$self}--active & {
			transform: translateY( 0 );
			box-shadow: 0 rem( -20 ) rem( 200 ) rgba( darken( $color-black, 10% ), 0.75 );
			pointer-events: initial;
		}

		#{$self}--active#{$self}--exit &,
		#{$self}--active#{$self}--exit-done & {
			transform: translateY( calc( 100% + #{rem( 40 )} ) );
		}
	}

	&__legal {
		color: inherit;
		font-size: rem( 10 );
		font-weight: 600;
		letter-spacing: 1px;
		//text-transform: uppercase;
	}

	&__menu {
		display: flex;
		color: inherit;
		// animation: gradient-fade 18s ease infinite;

		.disclosure-menu__item {
			font-size: rem( 10 );
			font-weight: 600;
			letter-spacing: 1px;
			//text-transform: uppercase;
		}

		.disclosure-menu__link {
			display: inline-block;
			position: relative;
			margin: 0 rem( 10 );
			color: inherit;

			&:after {
				display: block;
				position: absolute;
				bottom: rem( -6 );
				left: 0;
				width: 100%;
				height: 1px;
				transform: scale( 0 );
				transform-origin: center;
				transition: 0.5s transform ease-in-out;
				background: $color-gray;
				content: '';
				opacity: 0.5;
			}

			&:hover,
			&:focus {
				color: #fff;

				&:after {
					transform: scale( 0.97 );
				}
			}
		}
	}

	&__close {
		display: flex;
		position: absolute;
		top: rem( -40 );
		left: 50%;
		align-items: center;
		justify-content: center;
		width: rem( 32 );
		height: rem( 32 );
		transform: translateX( -50% );
		transition: 0.25s box-shadow ease-in;
		border: 0;
		border-radius: rem( 16 );
		background: 0;
		color: #fff;
		box-shadow: 0;
		cursor: pointer;
		z-index: 6;

		&:hover,
		&:focus {
			box-shadow: 0 rem( 1 ) rem( 20 ) rgba( #000, 0.25 );
		}
	}
}
