.dot-nav {
	$self: &;

	@include breakpoint( small only ) {
	}

	&__item {
		margin: rem( 12 ) 0;

		#{ $self }--horizontal & {
			margin: 0 rem( 10 );

			&:first-child {
				margin-left: 0;
			}

			&:last-child {
				margin-right: 0;
			}
		}
	}

	&__menu {
		margin: 0;
		padding: 0;
		list-style: none;

		#{ $self }--horizontal & {
			display: flex;
		}
	}

	&__button {
		display: block;
		width: rem( 10 );
		height: rem( 10 );
		margin: 0;
		padding: 0;
		border: 1px solid $color-gray;
		border-radius: 50%;
		background: transparent;
		font-size: 0;

		&--active {
			border-color: #fff;
			background: #fff;
		}
	}
}
