.down-anchor {
	$self: &;
	display: flex !important; // sass-lint:disable-line no-important
	align-items: flex-end;
	justify-content: flex-end;
	padding: 0;
	border: 0;
	background: 0;
	cursor: pointer;

	&__icon {
		display: block;
		width: rem( 17 );
		height: rem( 34 );
		transition: 0.5s background-image ease-in;
		background-image: url( '/static/images/scroll-down-gray.svg' );
		background-repeat: no-repeat;
		background-position: center;
		background-size: contain;

		#{ $self }:hover &,
		#{ $self }:focus & {
			background-image: url( '/static/images/scroll-down-white.svg' );
		}

		* {
			transition: 0.5s fill;
			fill: $color-gray;

			#{ $self }:hover &,
			#{ $self }:focus & {
				fill: #fff;
			}
		}

		&--up {
			transform: rotate( 180deg );
		}
	}
}
