.dynamic-text {
	&__highlight {
		display: inline-block;
		position: absolute;
		top: 0;
		left: auto;
		margin-left: 0.325em;
		transition: all 400ms ease-in-out;
		color: $color-red;
		font-weight: 800;

		&--last {
			color: #fff;
			font-weight: inherit;
		}

		&--enter {
			transform: translateX( 100% );
			opacity: 0;
			filter: blur( 10px );
		}

		&--enter-active {
			transform: translateX( 0% );
			transition: all 400ms ease-in-out;
			opacity: 1;
			filter: blur( 0 );
		}

		&--exit {
			transform: translateX( 0% );
			transition: all 400ms ease-in-out;
			opacity: 1;
			filter: blur( 0 );
		}

		&--exit-active {
			transform: translateX( -100% );
			opacity: 0;
			filter: blur( 10px );
		}
	}
}
