.footer-mobile {
	width: 100%;
	font-size: rem( 10 );
	font-weight: 600;
	text-align: center;

	@include breakpoint( 321 ) {
		font-size: rem( 11 );
	}

	&__copyright {
		display: block;
	}

	@include breakpoint( medium ) {
		display: none;
	}
}
