.footer-inner {
	display: flex;
	justify-content: space-between;
	width: 100%;
	z-index: 5;

	@include breakpoint( medium ) {
		padding: $frame-padding;
	}

	.footer__anchor {
		position: relative;
		padding: 0;
	}

	.footer__down-btn {
		border: 0;
		background: 0;
	}

	.footer__down {
		width: 260px;
	}

	.crumbs {
		@include breakpoint(small only) {
			display: none;
		}
	}
}
