.footer {
	$self: &;
	display: flex;
	justify-content: space-between;
	color: $color-gray;
	z-index: 6;

	@include breakpoint( small only ) {
		flex-flow: row wrap;
		padding: $frame-padding-mobile;
	}

	@include breakpoint( medium ) {
		position: fixed;
		bottom: 0;
		left: 0;
		width: 100%;
		transform: translateY( 100% );
		transition: {
			duration: 1s;
			property: all;
			timing-function: ease-in-out;
		};
		opacity: 0;
		z-index: 5;

		&--appear,
		&--enter,
		&--exit-active,
		&--exit {
			transform: translateY( 100% );
			opacity: 0;
		}

		&--enter-done,
		&--enter-active {
			transform: translateY( 0 );
			opacity: 1;
		}

		&--in {
			transform: translateY( 0 );
			transition: {
				delay: 10s;
				duration: 10s;
				property: all;
				timing-function: ease-in-out;
			};
			opacity: 1;
		}
	}

	&__anchor {
		@include breakpoint( medium ) {
			position: relative;
			padding-bottom: $frame-padding;
			// padding-top: $frame-padding-mobile;
			// border-top: 1px solid #fff;
		}

		&--center {
			position: relative;

			@include breakpoint( small only ) {
				order: 3;
				width: 100%;
			}

			@include breakpoint( medium ) {
				// left: 50%;
				// transform: translateX( -50% );
				// border-color: rgba( #fff, 0.5 );
				margin: 0 auto;

				&:before {
					display: block;
					position: absolute;
					top: ( 0.5 * $frame-padding * -1 ) + 0.18rem;
					left: 0;
					width: 100%;
					height: 1px;
					background: $color-gray;
					content: '';
					opacity: 0.5;
				}
			}
		}

		&--left {
			@include breakpoint( small only ) {
				max-width: 46%;
			}

			@include breakpoint( medium ) {
				// left: 0;
				position: absolute;
				left: 0;
				padding-left: $frame-padding;

				&:before {
					left: 0;
				}
			}
		}

		&--right {
			@include breakpoint( small only ) {
				max-width: 46%;
			}

			@include breakpoint( medium ) {
				// right: 0;
				position: absolute;
				right: 0;
				padding-right: $frame-padding;
				text-align: right;

				&:before {
					right: 0;
				}
			}
		}
	}

	&__info {
		font-size: rem( 10 );
		line-height: 1.4;
	}

	&__link {
		color: currentColor;
		text-decoration: none;

		&:hover,
		&:focus {
			color: #fff;
		}

		&--anchor {
			position: relative;
			transition: 1s $global-transition all;
			font-size: rem( 14 );
			letter-spacing: rem( 1.5 );
			line-height: 1;
			text-transform: uppercase;
			$anchor-link: &;

			@include breakpoint( medium ) {
				.footer__anchor--left &:before,
				.footer__anchor--right &:before {
					display: block;
					position: absolute;
					top: -0.5 * $frame-padding;
					width: calc( 100% + #{$frame-padding * 2} );
					height: 1px;
					transition: 0.375s transform ease-in-out, 0.5s background;
					background: $color-gray;
					content: '';
				}

				.footer__anchor--left &:before {
					left: -1 * ( $frame-padding * 2 );
					transform-origin: left;
				}

				.footer__anchor--right &:before {
					right: -1 * ( $frame-padding * 2 );
					transform-origin: right;
				}
			}

			&:hover {
				//font-weight: 700;

				@include breakpoint( medium ) {
					.footer__anchor--left &:before {
						transform: translateX( $frame-padding );
						background: $color-red;
					}

					.footer__anchor--right &:before {
						transform: translateX( $frame-padding * -1 );
						background: $color-red;
					}
				}
			}
		}

		@include breakpoint( medium ) {
			&--animated {
				display: inline-block;
				position: fixed;
				bottom: $frame-padding;
				transform: translateY( 100% );
				transition: {
					timing-function: ease-in-out;
					duration: 500ms;
					property: all;
				};
				white-space: nowrap;
				opacity: 0;

				.footer__anchor--left & {
					left: $frame-padding;
				}

				.footer__anchor--right & {
					right: $frame-padding;
				}
			}

			&--appear {
				transform: translateY( rem( 80 ) );
				opacity: 0;
			}

			&--appear-active {
				transform: translateY( rem( 80 ) );
				opacity: 0;
			}

			&--appear-done {
				transform: translateY( 0 );
				opacity: 1;
			}

			&--enter {
				transform: translateY( rem( 80 ) );
				opacity: 0;
			}

			&--enter-active {
				transform: translateY( rem( 80 ) );
				opacity: 0;
			}

			&--enter-done {
				transform: translateY( 0 );
				opacity: 1;
			}

			&--exit {
				transform: translateY( rem( 80 ) );
				opacity: 0;
			}

			&--exit-active {
				transform: translateY( rem( 80 ) );
				opacity: 0;
			}
		}
	}
}
