.full-screen-frame {
	display: flex;
	flex-flow: row wrap;
	align-items: flex-start;
	justify-content: center;

	@include breakpoint( small only ) {
		> * {
			position: relative;
		}
	}

	@include breakpoint( medium ) {
		align-items: center;
		width: 100vw;
		height: 100vh;
		// display: block;
		// position: relative;
	}

	&__inner {
		// width: 100%;
		// height: 100%;
		@include breakpoint( medium ) {
			// position: absolute;
			// top: 50%;
			// left: 50%;
			// transform: translate( -50%, -50% );
		}
	}
}
