$hamburger-transition-mode: $global-transition;

.hamburger {
	$self: &;
	position: absolute;
	top: $frame-padding-mobile;
	right: $frame-padding-mobile;
	width: rem( 50 );
	height: rem( 45 );
	margin: 0;
	padding: 0;
	transition: transform 0.8s $hamburger-transition-mode;
	border: 0;
	border-radius: 0;
	outline: 0;
	background: transparent;
	color: currentColor;
	text-align: center;
	text-decoration: none;
	cursor: pointer;
	z-index: 6;

	@include breakpoint( medium ) {
		top: $frame-padding;
		right: $frame-padding;
		width: rem( 60 );
		height: rem( 50 );
	}

	&__line {
		display: block;
		position: absolute;
		top: 0;
		right: 0;
		width: 100%;
		height: 1px;
		transition: all 0.75s $hamburger-transition-mode;
		background-color: #fff;

		&:last-child {
			top: rem( 8 );
			width: 66.67%;
		}

		#{$self}:not( #{$self}--active ):hover & {

			&:first-child {
				width: 66.67%;
			}

			&:last-child {
				width: 100%;
			}
		}

		#{$self}--active & {

			&:first-child {
				top: 30%;
				right: -10%;
				width: 67.67%;
				transform: rotate( -45deg );
			}

			&:last-child {
				top: 30%;
				right: -10%;
				width: 67.67%;
				transform: rotate( 45deg );
			}
		}
	}
}
