.input {
	$self: &;
	position: relative;

	&__required {
		position: absolute;
		top: rem( 2 );
		right: 0;
		transition: 0.5s opacity ease-in;
		color: $color-red;
		font-size: 1.5rem;
		font-weight: 700;
		opacity: 0;
	}

	&__errors {
		position: absolute;
		bottom: rem( -18 );
		color: $color-red;
		font-size: rem( 10 );
		font-weight: 700;
		letter-spacing: rem( 2 );
		text-transform: uppercase;
		animation: fade-in 500ms linear;
	}

	&__field {

		&:focus {
			~ #{ $self }__required {
				opacity: 1;
			}
		}
	}
}
