.layout {
	position: relative;
	background-color: $color-black;
	background-position: center;
	background-size: cover;
	color: #fff;
	overflow: hidden;
	background-blend-mode: luminosity;

	@include breakpoint( medium ) {
		display: flex;
		align-items: center;
		justify-content: center;
		width: 100vw;
		height: 100vh;
	}

	@include breakpoint( small only ) {
		min-height: calc( 100vh - #{rem( 86 )} );
		padding-top: rem( 86 );
	}

	&:before {
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		background-color: inherit;
		content: '';
		opacity: 0.9;
	}

	&__inner {
		z-index: 1;
		@include breakpoint( small only ) {
			display: flex;
			flex-direction: column;
			position: relative;
			min-height: calc( 100vh - #{rem( 86 )} );

			.footer {
				margin-top: auto;
			}
		}
	}
}
