.main-nav {
	position: fixed;
	top: 0;
	left: 0;
	align-items: center;
	justify-content: center;
	width: 100vw;
	height: 100vh;
	transform: scale( 1.5 );
	transform-origin: center;
	transition: filter 0.5s $global-transition 0.25s,
		transform 2s $global-transition 0s, opacity 0.75s $global-transition 0.75s;
	background: $color-black;
	color: #fff;
	opacity: 0;
	z-index: 4;
	filter: blur( 100px );
	pointer-events: none;
	margin-top: auto;

	@include breakpoint( small only ) {
		display: flex;
		flex-direction: column;
		height: 100vh;
		padding-top: rem( 86 );
		background-image: url('/static/images/bg_nav.jpg');
		background-position: center;
		background-size: cover;

		> * {
			width: 100%;
		}

		.footer {
			margin-top: auto;
		}
	}

	@include breakpoint( medium ) {
		display: flex;
	}

	&--active {
		transform: scale( 1 );
		transition: filter 0.25s $global-transition 0s,
			transform 2s $global-transition 0s,
			opacity 0.75s $global-transition 0.125s;
		opacity: 1;
		filter: blur( 0 );
		pointer-events: auto;
	}

	&__menu {
		position: relative;

		@include breakpoint( small only ) {
			max-width: rem( 250 );
			margin-bottom: 3rem;
			padding: $frame-padding-mobile;
		}

		> ol,
		> ul {
			display: grid;
			grid-gap: rem( 20 );

			@include breakpoint( small only ) {
				grid-template-rows: repeat( 3, auto );
			}

			@include breakpoint( medium ) {
				grid-template-columns: repeat( 3, rem( 140 ) );
				grid-gap: rem( 50 );
			}

			@include breakpoint( large ) {
				grid-template-columns: repeat( 3, rem( 180 ) );
				grid-gap: rem( 180 );
			}
		}

		> ol {
			counter-reset: fuck-yeah;

			> li {
				font-family: $font-muli;
				font-size: rem( 20 );
				font-weight: 200;

				@include breakpoint( medium ) {
					font-size: rem( 26 );
				}

				.menu__link {
					color: #fff;
					font-weight: 100;
					text-decoration: none;
					cursor: pointer;

					&:before {
						display: block;
						width: 100%;
						margin-bottom: 1rem;
						transition: 0.75s all;
						border-bottom: 1px solid currentColor;
						color: $color-gray;
						font-family: $font-oswald;
						font-size: rem( 14 );
						font-weight: 100;
						content: counter( fuck-yeah, decimal-leading-zero );
						counter-increment: fuck-yeah;

						@include breakpoint( medium ) {
							font-size: rem( 18 );
						}
					}

					&:hover:before,
					&:focus:before {
						color: $color-red;
					}
				}
			}
		}
	}

	.footer__anchor {
		bottom: 0;
	}
}
