.masthead {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	transform: translateY( -100% );
	transition: 1.5s all ease-in-out;
	opacity: 0;
	z-index: 5;

	&--in {
		transform: translateY( 0 );
		opacity: 1;
	}

	&__logo {
		margin-top: $frame-padding-mobile;
		margin-left: $frame-padding-mobile;

		@include breakpoint( medium ) {
			margin-top: $frame-padding;
			margin-left: $frame-padding;
		}
	}
}
