.overview {

	@include breakpoint( small only ) {
		margin-top: 12vh;
		margin-bottom: 3rem;
		padding-bottom: 3rem;
	}

	&__heading {
		@include font-accent;
		@include header-decorate;

		@include breakpoint( medium ) {
			margin-bottom: 2em;
		}
	}

	&__content {
		@include font-overview;
	}
}
