.post-excerpt {
	$self: &;

	&__meta {
		@include font-accent;
		display: block;
		margin-bottom: rem( 22 );
		padding-bottom: 0.25em;
		transition: 0.75s all;
		border-bottom: 1px solid rgba( #fff, 0.75 );

		@include breakpoint( medium ) {
			margin-bottom: rem( 36 );
		}

		#{ $self }:hover & {
			border-bottom: 1px solid rgba( $color-red, 0.75 );
		}
	}

	&__title {
		font-family: $font-muli;
		font-weight: 100;
	}

	&__link {
		transition: 0.75s color;
		color: rgba( #fff, 1 );
		text-decoration: none;

		&:hover,
		&:focus {
			color: rgba( #fff, 0.75 );
		}
	}
}
