
.post-grid {

	&__select-form {
		@include breakpoint( medium ) {
			display: none;
		}
	}

	&__items {
		display: flex;
		flex-direction: row;
		flex-wrap: wrap;
		align-content: stretch;
		align-items: flex-start;
		justify-content: flex-start;

		@include breakpoint( medium ) {
			max-height: rem( 270 );
			overflow-y: scroll;
		}
	}

	&__post {
		width: 100%;
		padding: 0 0 rem( 40 );
		transition: 0.75s opacity;
		opacity: 0;

		@include breakpoint( small down ) {
			margin: 1rem 0;

			&:nth-last-child( 3 ) {
				margin-bottom: 4rem;
				padding-bottom: 0;
			}
		}

		@include breakpoint( medium ) {
			width: 50%;
			max-height: rem( 270 );
			padding: 0 rem( 30 ) rem( 60 );
		}

		@include breakpoint( large ) {
			width: 33.333%;
			padding: 0 rem( 60 ) rem( 90 );
		}

		&--appear {
			opacity: 0;
		}

		&--appear-active {
			opacity: 1;
		}

		&--enter {
			opacity: 0;
		}

		&--enter-active {
			opacity: 1;
		}

		&--exit {
			display: none;
			opacity: 1;
		}

		&--exit-active {
			display: none;
			opacity: 0;
		}

		&--enter-done {
			opacity: 1;
		}
	}

	&__side-nav {

		&--appear {
			li {
				// transform: translateX( 0 );
			}
		}

		&--appear-active {
			li {
				transform: translateX( 250% );
			}
		}

		&--enter {
			li {
				transform: translateX( 250% );
			}
		}

		&--enter-active {
			li {
				transform: translateX( 0 );
			}
		}

		&--exit {
			li {
				transform: translateX( 0 );
			}
		}

		&--exit-active {
			li {
				transform: translateX( 250% );
			}
		}

		&--enter-done {
			li {
				transform: translateX( 0 );
			}
		}
	}

	.label {
		@include text-sm;
		@include font-accent;
		color: $color-red;
		font-weight: 600;
	}
}
