.product-category {
	display: grid;
	grid-template-columns: 1fr;
	gap: rem( 20 );

	@include breakpoint( small only ) {
		margin: 4rem 0;
	}

	@include breakpoint( medium ) {
		gap: rem( 60 );
	}

	@include breakpoint( medium ) {
		grid-template-columns: 1fr 1fr;
	}

	&__content-wrapper {
		position: relative;

		@include breakpoint( small only ) {
			display: flex;
			flex-direction: column;

			> * {
				width: 100%;
			}
		}

		@include breakpoint( medium ) {
			padding-right: rem( 48 );
			padding-left: rem( 48 );
		}
	}

	&__img-wrapper {
		position: relative;

		@include breakpoint( small only ) {
			margin: 2rem auto;
		}

		@include breakpoint( medium ) {
			display: flex;
			align-items: center;
			justify-content: center;
			transform: scale( 1.1 );
			transform-origin: center;
		}
	}

	&__img {
		&--appear {
			opacity: 0;
			filter: blur( 20px );
		}

		&--appear-done {
			opacity: 1;
			filter: blur( 0 );
		}

		&--enter {
			opacity: 0;
			filter: blur( 20px );
		}

		&--enter-active {
			opacity: 1;
			filter: blur( 0 );
		}

		&--exit {
			display: none;
		}

		&--exit-active {
			display: none;
		}

		&--enter-done {
			opacity: 1;
			filter: blur( 0 );
		}

		@include breakpoint( medium ) {
			position: absolute;
			top: 50%;
			left: 50%;
			width: 100%;
			height: auto;
			transform: translate( -50%, -50% );
			transition: transform 500ms cubic-bezier( 0.75, 0.3, 0.83, 0.67 ),
				opacity 700ms ease-in-out, filter 1000ms ease-in-out;
			$img: &;

			&--appear {
				transform: translate( -50%, -50% ) scale( 1 );
				opacity: 0;
				filter: blur( 20px );
			}

			&--enter {
				transform: translate( -50%, -50% ) scale( 1 );
				opacity: 0;
				filter: blur( 20px );
			}

			&--enter-active {
				transform: translate( -50%, -50% ) scale( 1 );
				opacity: 1;
				filter: blur( 0 );
			}

			&--exit {
				transform: translate( -50%, -50% ) scale( 1 );
				opacity: 1;
				filter: blur( 0 );
			}

			&--exit-active {
				transform: translate( -50%, -50% ) scale( 1 );
				opacity: 0;
				filter: blur( 20px );
			}

			&--enter-done {
				transform: translate( -50%, -50% ) scale( 1 );
				opacity: 1;
				filter: blur( 0 );
			}
		}
	}

	&__product-content-wrapper {
		transform: scale( 1.2 );
		transition: transform 1000ms cubic-bezier( 0.75, 0.3, 0.83, 0.67 ),
			opacity 1200ms ease-in-out, filter 1350ms ease-in-out;
		opacity: 0;

		&--appear {
			transform: scale( 1 );
			opacity: 0;
			filter: blur( 20px );
		}

		&--enter {
			transform: scale( 1.2 );
			opacity: 0;
			filter: blur( 20px );
		}

		&--enter-active {
			transform: scale( 1 );
			opacity: 1;
			filter: blur( 0 );
		}

		&--exit {
			position: absolute;
			transform: scale( 1 );
			opacity: 1;
			filter: blur( 0 );
		}

		&--exit-active {
			display: none;
			position: absolute;
			top: 0;
			transform: scale( 1.2 );
			opacity: 0;
			filter: blur( 20px );
		}

		&--enter-done {
			transform: scale( 1 );
			opacity: 1;
			filter: blur( 0 );
		}
	}

	&__cat-name {
		@include font-accent;
		display: block;
		color: $color-red;
		font-weight: 700;
		text-align: center;

		@include breakpoint( medium ) {
			margin-bottom: 1.25em;
			text-align: left;
		}

		&--small {
			@include breakpoint( medium ) {
				display: none;
			}
		}

		&--medium {
			@include breakpoint( small down ) {
				display: none;
			}
		}
	}

	&__title {
		font-family: $font-muli;
		font-weight: 200;
		@include breakpoint( medium ) {
			font-size: rem( 36 );
		}
		@include breakpoint( large ) {
			font-size: rem( 42 );
		}
	}

	&__description {
		font-family: $font-muli;
		font-size: rem( 18 );
		font-weight: 200;

		@include breakpoint( medium ) {
			font-size: rem( 22 );
		}
	}

	&__content {
		color: $color-gray;
		font-family: $font-muli;
		font-weight: 200;
	}

	&__nav {
		margin-bottom: 1.5rem;
		@include breakpoint( medium ) {
			margin-top: 3rem;
			margin-bottom: 0;
		}

		&--small {
			@include breakpoint( medium ) {
				display: none;
			}
		}

		&--medium {
			@include breakpoint( small down ) {
				display: none;
			}
		}
	}

	&__nav-menu {
		display: grid;
		margin: 0;
		padding: 0;
		list-style: none;
		grid-template-columns: repeat( 3, 1fr );
		gap: rem( 20 );

		@include breakpoint( medium ) {
			grid-template-columns: repeat( 2, 1fr );
			gap: rem( 48 );
		}

		@include breakpoint( large ) {
			grid-template-columns: repeat( 3, 1fr );
			gap: rem( 48 );
		}
	}

	&__nav-link {
		@include font-accent;
		display: block;
		width: 100%;
		margin: 0;
		padding: 0;
		padding-top: 0.5em;
		transition: 0.75s all;
		border: 0;
		border-bottom: 1px solid currentColor;
		background: 0;
		color: rgba( #fff, 0.7 );
		font-size: rem( 10 );
		font-weight: 700;
		text-align: center;
		cursor: pointer;

		@include breakpoint( medium ) {
			border-top: 1px solid currentColor;
			border-bottom: 0;
			font-size: rem( 10 );
			text-align: left;
		}

		&:hover,
		&:focus,
		.product-category__nav-item--active & {
			color: $color-red;
		}
	}
}
