.scroller {

	&__inner {
		position: fixed;
		top: 50%;
		left: 50%;
		transform: translate( -50%, -150% );
		transition: transform 1500ms cubic-bezier( 0.75, 0.3, 0.35, 0.72 ), opacity 1200ms ease-in-out, filter 1800ms ease-in-out;
		opacity: 0;
		filter: blur( 10px );
	}

	&__transition {
		// width: 100%;
		$self: &;

		&--appear {
			transform: translate( -50%, -150% );
			opacity: 0;
			filter: blur( 10px );
		}

		&--enter {
			transform: translate( -50%, -150% );
			opacity: 0;
			filter: blur( 10px );
		}

		&--enter-active {
			transform: translate( -50%, -50% );
			opacity: 1;
			filter: blur( 0 );

			/* + #{ $self }--leave-active {
				transform: translateY( 100% );
			} */
		}

		&--exit {
			transform: translate( -50%, -50% );
			opacity: 1;
			filter: blur( 0 );
		}

		&--exit-active {
			// position: fixed;
			transform: translate( -50%, -150% );
			opacity: 0;
			filter: blur( 10px );

			/* + #{ $self }--enter-active {
				transform: translateY( 0% );
			} */
		}

		&--enter-done {
			transform: translate( -50%, -50% );
			opacity: 1;
			filter: blur( 0 );
		}
	}
}


.scroller--style-inner {

	.scroller__inner {
		position: relative;
		top: initial;
		left: initial;
		transform: translateY( -100% );
	}

	.scroller__transition {

		&--appear,
		&--enter,
		&--exit-active {
			transform: translateY( -100% );
		}

		&--enter-active,
		&--exit,
		&--enter-done {
			transform: translateY( 0 );
		}
	}
}
