.side-nav-text {
	$self: &;
	position: fixed;
	top: 50%;
	right: 0;
	margin-right: $frame-padding;
	transform: translateY( -50% );

	@include breakpoint( small only ) {
		display: none;
	}

	&__list {
		@include font-accent;
		margin: 0;
		padding: 0;
		font-size: rem( 10 );
		list-style: none;
		text-align: right;

		@include breakpoint( medium ) {
			font-size: rem( 10 );
		}
	}

	&__item {
		margin: 1.5em 0;
		transform: translateX( 250% );
		transition-duration: 500ms;
		transition-property: transform;
		transition-timing-function: ease-in-out;
		white-space: nowrap;

		> span {
			transition: 0.5s color;
			color: $color-gray;
			cursor: pointer;

			&:hover,
			&:focus {
				color: #fff;
			}
		}

		&--active > span {
			color: #fff;
		}

		#{ $self }__list--sub & {
			margin: 1em 0;
		}

		@for $i from 1 through 16 {
			&:nth-child( #{$i} ) {
				transition-delay: #{$i * 50}ms;
			}
		}

		@include breakpoint( medium ) {
			position: relative;

			&:after {
				position: absolute;
				top: 50%;
				left: calc( 100% + #{ rem( 10 ) } );
				width: $frame-padding - rem( 10 );
				height: 1px;
				transform: translate( 100%, -50% );
				transition: 0.25s transform ease-in;
				background: $color-red;
				content: '';
			}

			&--active:after {
				transform: translate( 0, -50% );
			}
		}
	}
}
