.social-nav {
	&__menu {
		display: flex;
		margin: 0;
		padding: 0;
		list-style: none;
	}

	&__item {
		width: rem( 26 );
		height: rem( 26 );
		margin: 0 rem( 6 );

		&:first-child {
			margin-left: 0;
		}

		&:last-child {
			margin-right: 0;
		}
	}

	&__link {
		display: block;
		width: 100%;
		height: 100%;
		transition: 0.5s all;
		border-radius: rem( 99 );
		background-color: $color-gray;
		background-repeat: no-repeat;
		background-position: center;
		background-size: 60%;
		color: $color-black-light;
		opacity: 0.5;

		.social-nav__item--facebook & {
			background-image: url( "icon-facebook" param( --color $color-black-light ) );
			background-size: 70%;
		}

		.social-nav__item--twitter & {
			background-image: url( "icon-twitter" param( --color $color-black-light ) );
		}

		.social-nav__item--linked-in & {
			background-image: url( "icon-linkedin" param( --color $color-black-light ) );
			background-size: 55%;
		}

		&:hover,
		&:focus {
			opacity: 1;
		}
	}
}
