.swiper {
	&__inner {
		transform: translateY( -100% );
		transition: transform 1500ms cubic-bezier( 0.75, 0.3, 0.35, 0.72 ),
			opacity 1200ms ease-in-out, filter 1800ms ease-in-out;
		opacity: 0;
		filter: blur( 10px );
	}

	&__transition {
		// width: 100%;
		$self: &;

		&--appear {
			transform: translateY( -100% );
			opacity: 0;
			filter: blur( 10px );
		}

		&--enter {
			transform: translateY( -100% );
			opacity: 0;
			filter: blur( 10px );
		}

		&--enter-active {
			transform: translateY( 0 );
			opacity: 1;
			filter: blur( 0 );

			/* + #{ $self }--leave-active {
				transform: translateY( 100% );
			} */
		}

		&--exit {
			transform: translateY( 0 );
			opacity: 1;
			filter: blur( 0 );
		}

		&--exit-active {
			// position: fixed;
			transform: translateY( -100% );
			opacity: 0;
			filter: blur( 10px );

			/* + #{ $self }--enter-active {
				transform: translateY( 0% );
			} */
		}

		&--enter-done {
			transform: translateY( 0 );
			opacity: 1;
			filter: blur( 0 );
		}
	}
}
