.team-section {

	&__select-form {
		position: relative;
		margin: 0 $frame-padding-mobile;
		z-index: 1;

		.label {
			@include text-sm;
			@include font-accent;
			color: $color-red;
			font-weight: 600;
		}

		@include breakpoint( medium ) {
			display: none;
		}
	}

	&__member {
		position: relative;

		.team-member {

			&__img {
				transform: translateX( -100% );
				transition: transform 1000ms ease-out, opacity 1200ms ease-in-out, filter 1800ms ease-in-out;
				opacity: 0;
				filter: blur( 10px );
			}

			&__info {
				transform: translateX( 100% );
				transition: transform 1000ms ease-out, opacity 1200ms ease-in-out, filter 1800ms ease-in-out;
				opacity: 0;
				filter: blur( 10px );
			}

			&__name {
				transition-delay: 0.5s;
			}
		}

		&--appear {

			.team-member {

				&__img {
					transform: translateX( -100% );
					transition: transform 1000ms ease-out, opacity 1200ms ease-in-out, filter 1800ms ease-in-out;
					opacity: 0;
					filter: blur( 10px );
				}

				&__info {
					transform: translateX( 100% );
					transition: transform 1000ms ease-out, opacity 1200ms ease-in-out, filter 1800ms ease-in-out;
					opacity: 0;
					filter: blur( 10px );
				}
			}
		}

		&--enter {

			.team-member {

				&__img {
					transform: translateX( -100% );
					transition: transform 1000ms ease-out, opacity 1200ms ease-in-out, filter 1800ms ease-in-out;
					opacity: 0;
					filter: blur( 10px );
				}

				&__info {
					transform: translateX( 100% );
					transition: transform 1000ms ease-out, opacity 1200ms ease-in-out, filter 1800ms ease-in-out;
					opacity: 0;
					filter: blur( 10px );
				}
			}
		}

		&--enter-active {

			.team-member {

				&__img {
					transform: translateX( 0 );
					opacity: 1;
					filter: blur( 0 );
				}

				&__info {
					transform: translateX( 0 );
					opacity: 1;
					filter: blur( 0 );
				}
			}
		}

		&--leave {

			.team-member {

				&__img {
					transform: translateX( 0 );
					opacity: 1;
					filter: blur( 0 );
				}

				&__info {
					transform: translateX( 0 );
					opacity: 1;
					filter: blur( 0 );
				}
			}
		}

		&--leave-active {
			position: absolute;

			.team-member {

				&__img {
					transform: translateX( -100% );
					opacity: 0;
					filter: blur( 10px );
				}

				&__info {
					transform: translateX( 100% );
					opacity: 0;
					filter: blur( 10px );
				}
			}
		}

		&--done-enter {

			.team-member {

				&__img {
					transform: translateX( 0 );
					opacity: 1;
					filter: blur( 0 );
				}

				&__info {
					transform: translateX( 0 );
					opacity: 1;
					filter: blur( 0 );
				}
			}
		}
	}

	&__side-nav {

		li {
			transform: translateX( 250% );
		}

		.side-nav-text--active li {
			transform: translateX( 0 );
		}

		&--appear {
			li {
				// transform: translateX( 0 );
			}
		}

		&--active-appear {
			li {
				transform: translateX( 250% );
			}
		}

		&--enter {
			li {
				transform: translateX( 250% );
			}
		}

		&--enter-active {
			li {
				transform: translateX( 0 );
			}
		}

		&--leave {
			li {
				transform: translateX( 0 );
			}
		}

		&--leave-active {
			li {
				transform: translateX( 250% );
			}
		}

		&--done-enter {
			li {
				transform: translateX( 0 );
			}
		}
	}
}
