.team-member {
	display: grid;
	grid-template-columns: auto;
	@include breakpoint( small only ) {
		padding: $frame-padding-mobile;
	}

	@include breakpoint( medium ) {
		align-items: center;
		width: 100vw;
		grid-template-columns: min-content auto;
		gap: rem( 40 );
	}

	&__img {
		position: relative;
		max-width: 100%;
		@include breakpoint( small only ) {
			margin-bottom: 1rem;
		}
		@include breakpoint( medium ) {
			min-width: rem( 447 );
			max-height: rem( 342 );
		}

		/* &:before {
			position: absolute;
			bottom: 0;
			left: 0;
			width: 50%;
			height: 86%;
			background: linear-gradient(
				to right,
				rgba( 135, 145, 164, 1 ) 0%,
				rgba( 135, 145, 164, 0 ) 100%
			);
			content: '';
		} */

		img {
			position: relative;
			top: 50%;
			left: 50%;
			transform: translate( -50%, -50% ) scale( 1.5 );
			transform-origin: center;

			@include breakpoint( medium ) {
				position: absolute;
				left: 60%;
				max-width: 95%;
				transform: translate( -50%, -50% ) scale( 2 );
			}
		}
	}

	&__name {
		@include breakpoint( medium ) {
			font-family: $font-muli;
			font-size: rem( 40 );
			font-weight: 200;
		}
	}

	&__job-title {
		@include breakpoint( medium ) {
			max-width: calc( 100% - #{rem( 300 )} );
			margin-right: rem( 30 );
			font-size: rem( 23 );
			font-weight: 200;
		}
	}

	&__bio {
		max-width: 100%;
		color: $color-gray;

		@include breakpoint( medium ) {
			max-width: calc( 100% - #{rem( 300 )} );
			margin-right: rem( 30 );
			color: $color-gray;
			font-size: rem( 18 );
			line-height: 1.8;
		}
	}
}
