$timeout: 400;

.page-transition {
	&--enter {
		transform: translate3d( 0, 20px, 0 );
		opacity: 0;
	}

	&--enter-active {
		transform: translate3d( 0, 0, 0 );
		transition: opacity #{$timeout}ms, transform #{$timeout}ms;
		opacity: 1;
	}

	&--exit {
		opacity: 1;
	}

	&--exit-active {
		transition: opacity #{$timeout}ms;
		opacity: 0;
	}
}

.loading-indicator {
	&--appear,
	&--enter {
		opacity: 0;
	}

	&--appear-active,
	&--enter-active {
		transition: opacity #{$timeout}ms;
		opacity: 1;
	}
}
