/**
 * WordPress Generated Classes
 * @see http://codex.wordpress.org/CSS#WordPress_Generated_Classes
 */

// Media alignment
.alignnone {
	margin-left: 0;
	margin-right: 0;
	max-width: 100%;
	height: auto;
}

.aligncenter {
	display: block;
	height: auto;
	margin: 0.5rem auto;
}

.alignleft,
.alignright {
	height: auto;
	margin-bottom: 0.5rem;
}

@include breakpoint( medium ) {

	.alignleft {
		float: left;
		margin-right: 0.5rem;
	}

	.alignright {
		float: right;
		margin-left: 0.5rem;
	}
}

// Captions
.wp-caption {
	border: 1px solid #f0f0f0;
	max-width: 96%; // Image does not overflow the content area
	padding: 5px 3px 10px;
	text-align: center;

	img {
		border: 0 none;
		height: auto;
		width: auto;
		margin: 0;
		max-width: 98.5%;
		padding: 0;
	}

	&-text {
		font-size: 12px;
		font-weight: 400;
		font-style: italic;
		padding: 2px 6px 4px;
	}
}

// Text meant only for screen readers
.screen-reader-text {
	position: absolute !important; // sass-lint:disable-line no-important
	width: 1px;
	height: 1px;
	margin: -1px;
	padding: 0;
	border: 0;
	overflow: hidden;
	clip: rect( 1px, 1px, 1px, 1px );
	clip-path: inset( 50% );

	word-wrap: normal !important; // sass-lint:disable-line no-important
}
