@mixin make-form-field {
	width: 100%;
	padding: 0.25em 0;
	transition: 0.5s all;
	border: 0;
	border-radius: 0;
	border-bottom: 1px solid $color-gray;
	background: transparent;
	box-shadow: none;
	color: $color-gray;

	&::placeholder {
		color: $color-gray;
	}

	&:focus {
		border-color: #fff;
		color: #fff;
	}
}

[type='color'],
[type='date'],
[type='datetime-local'],
[type='datetime'],
[type='email'],
[type='month'],
[type='number'],
[type='password'],
[type='search'],
[type='tel'],
[type='text'],
[type='time'],
[type='url'],
[type='week'],
select,
textarea {
	@include make-form-field;
	appearance: none;
}

select {
	padding-right: 1rem;
	background-image: url( "data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' version='1.1' width='32' height='24' viewBox='0 0 32 24'><polygon points='0,0 32,0 16,24' style='fill: rgb%28238, 46, 36%29'></polygon></svg>" );
	background-repeat: no-repeat;
	background-position: right -1rem center;
	background-size: 9px 6px;
	background-origin: content-box;
	appearance: none;

	option {
		color: initial;
	}
}

.label-as-wrapper {
	width: 100%;
	margin-bottom: 2rem;
}

.check-submit {
	position: relative;
	width: rem( 40 );
	height: rem( 40 );
	transition: 0.5s all;
	border: 0;
	border-radius: rem( 999 );
	background-color: rgba( $color-gray, 0.125 );
	background-image: url( '/static/icons/icon-submit.svg' );
	background-repeat: no-repeat;
	background-position: center;
	background-size: 35%;
	cursor: pointer;

	@include breakpoint( medium ) {
		width: rem( 66 );
		height: rem( 66 );
	}

	&--clicked {
		//transform: rotate( 360deg );
	}

	&:hover,
	&:focus {
		background-color: rgba( $color-gray, 0.25 );
	}
}

.submit-group {
	display: flex;
	align-items: center;
	justify-content: space-between;

	&__phone {
		color: $color-gray;
		font-family: $font-nunito;
		font-size: rem( 12 );
		letter-spacing: 2px;
		text-transform: uppercase;
	}
}

.message-group {
	margin: 0 0 1rem;
	padding: 0.5rem 1rem;
	border: 1px solid $color-gray;
	background: rgba( #fff, 0.025 );
	color: $color-gray;
	font-family: $font-nunito;
	font-size: rem( 12 );
	letter-spacing: 2px;
	text-transform: uppercase;
}
